@model Lab3.Models.PartidoNo

@{
    ViewBag.Title = "Load";
}

<h2>Load</h2>

<body>
    @using (Html.BeginForm("Load", "PartidoNo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            JSON file <input type="file" name="jsonFile" />
            <br />
            <input type="submit" value="Import" />
        </div>
    }
</body>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
