@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Laboratorio 3</h1>
    <p>Carlos Lam - 1193916</p>
    <p>Max Diaz - 1145916</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fecha de partido</h2>
        <p>@Html.ActionLink("Ir ahora", "Index", "PartidoFecha")</p>
    </div>
    <div class="col-md-4">
        <h2>Numero de partido</h2>
        <p>@Html.ActionLink("Ir ahora", "Index", "PartidoNo")</p>
    </div>
    <div class="col-md-4">
        <h2>Bitacora</h2>
        <p>@Html.ActionLink("Ir ahora", "Index", "Bitacora")</p>
    </div>
</div>